.section1{
    height: 92vh;
}
#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    position: fixed;
}
#background-video2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    position: cover;
}
.section3{
    height: 90vh;
}
.section3 img{
    cursor: pointer;
}
#espace{
    width: 98%;
}
.largeur{
    width: 32.62%;
}
#opacite-image img{
    opacity: 80%;
}
.anime:hover{
    background-color: rgba(0, 0, 0, 0.369);
    cursor: pointer;
    border-radius: 25px;
    color: rgb(255, 255, 255);
}
header{
    z-index: 1000;
}
header,footer,#bouton-arriere{
    background-color: rgba(0, 0, 0, 0.392);
}
footer a{
    text-decoration: none;
}
footer .espace{
    margin-top: -5px;
}
footer .espace input{
    width: 88%; 
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    letter-spacing: 2px;

}
footer .espace button{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 12px;
}
.renverser{
    transform: scaleY(-1);
    margin-top: -18px;
}
.my-element {
    opacity: 25%;
    transition-duration: 100ms;
}

.my-element:hover {
    opacity: 100%;
}
.my-element2 {
    transition:0.1s;
}
.animation-scroll{
    animation-duration: 80s;
    animation-name: scroller;
    animation-iteration-count: infinite;
}

@keyframes scroller {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-2630px);
    }
    100%{
        transform: translateX(0);
    }
}
.animation-scroll2{
    animation-duration: 7s;
    animation-name: scroller2;
    animation-iteration-count: infinite;
}

@keyframes scroller2 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-325px);
    }
    100%{
        transform: translateY(0);
    }
}